.bodyclass {
	background-color: aliceblue;
}

canvas {
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}

#privacy {
	position: relative;
}
#privacy:hover {
	color: lightsteelblue;
}
.privacyInfo {
	color: green;
}

.instrument-buttons:hover {
	box-shadow: lime;
	color: lightslategray;
}

.muted {
	text-decoration: line-through;
	text-shadow: mintcream;
}

.muteButtons {
	display: none;
}
