body {
	background-color: aliceblue;
}

canvas {
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
}

.topBanner {
	max-height: 100px;
}

.animatedGIFs {
	width: 100%;
	max-height: 50%;
	border-radius: 10%;
	display: flex;
	justify-content: space-around;
}

.lower-image {
	margin-top: 10%;
}

.GIFs-left {
	justify-content: flex-end;
}

.GIFs-right {
}

#privacy {
	position: relative;
}
#privacy:hover {
	color: lightsteelblue;
}
.privacyInfo {
	color: green;
}

.instrument-buttons:hover {
	box-shadow: lime;
	color: lightslategray;
}

.muted {
	text-decoration: line-through;
	text-shadow: mintcream;
}

.muteButtons {
	display: none;
}

.bonus-clue {
	color: #17a2b8;
}

.lyla-pic {
	border-radius: 20px;
	position: absolute;
	left: 40%;
	top: 30%;
	z-index: -1;
	height: 200px;
	width: 170px;
}

.btn {
	margin: 10px;
}
